{% extends 'base.html.twig' %}

{% block body %}
    <script>
        window.user = {{ user|raw }};
    </script>

    <div id="app">
        <app
                entrypoint="{{ path('api_entrypoint') }}"
        ></app>
    </div>
{% endblock %}