.vuecal__event.male {background-color: rgba(66, 165, 245,  0.9);border: 1px solid rgb(2, 136, 209);color: #fff;}
.vuecal__event.female {background-color: rgba(236, 64, 122, 0.9);border: 1px solid rgb(194, 24, 91);color: #fff;}

.vuecal__event {cursor: pointer;}

.vuecal__event-title {
    font-size: 0.8em;
    font-weight: bold;
    margin: 4px 0 8px;
}

.vuecal__event-time {
    display: inline-block;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.vuecal__event-content {
    font-style: italic;
}

.vuecal--month-view .vuecal__cell {height: 200px;}

.vuecal--month-view .vuecal__cell-content {
    justify-content: flex-start;
    height: 100%;
    align-items: flex-end;
}

.vuecal--month-view .vuecal__cell-date {padding: 4px;}
.vuecal--month-view .vuecal__no-event {display: none;}
